<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <style>
            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background: transparent;
            }
            body {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            canvas {
                width: 100% !important;
                height: 100% !important;
            }
        </style>
    </head>
    <body>
        <canvas id="genericChart" data-chart-type="{{chartType}}" data-chart-title="{{chartTitle}}"></canvas>
        <ul id="chartLabelsData" hidden>
            {{#chartLabels}}
            <li>{{.}}</li>
            {{/chartLabels}}
        </ul>
        <ul id="chartValuesData" hidden>
            {{#chartValues}}
            <li>{{.}}</li>
            {{/chartValues}}
        </ul>
        <script src="/main.js"></script>
    </body>
</html>
