<!--

    El header y footer se referencian desde el archivo header.html y footer.html respectivamente.
    Este archivo contiene solo el contenido principal de la vista del curso.
    ---- Header del curso ----
    - Titulo
    - Pequeña descripcion
    - Autor/es (+ link a sus perfiles) (solo su nombre)
    - Ultima actualización - idioma
    - Cuadro con Valoracion (valoracion media + estrellas sobre 5 + numero de reseñas)
    - numero de estudiantes
    
    ---- Body del curso ----
    - Que va a aprender el estudiante (lista de puntos)
    - Temas relacionados (con links)
    - Que incluye el curso (lista de puntos)
        - Horas - Tareas - Numero de articulos - Subtitulos - Certificado de finalización
    - Contenido:
        - Modulos (expandibles)
            - Lecciones (con duracion)
            - En caso de que el usuario no este registrado solo ve el titulo de las lecciones
            - En caso de que el usuario este registrado ve un boton para iniciar la leccion
            - En caso de iniciar la sesion, le enviara a un link externo (simulando la leccion)
    - Requisitos previos para el curso (lista de puntos)
    - Descripcion del curso (texto largo)
    - Reseñas de estudiantes (con valoracion en estrellas y texto)
    - Instructor/es (foto + nombre + descripcion + link a perfil)
    - Mas cursos del instructor/es (con links)
    - Denunciar por uso indevido
        - En caso de que el usuario no este registrado le envia a la pagina de registro
        - En caso de que el usuario este registrado le abre un formulario para denunciar el curso
-->
