<footer id="footer" class="footer position-relative dark-background">
    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-about">
                <a href="index.html" class="logo d-flex align-items-center">
                    <span class="sitename">SCAM</span>
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis architecto at, minus neque quo pariatur ipsa. Quas voluptatum dolor perspiciatis natus voluptates omnis saepe, magni, corporis, earum veritatis libero.</p>
                
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Terminos de servicio</a></li>
                    <li><a href="#">Politica de privacidad</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contactanos</h4>
                <p>Calle Tulipán, s/n</p>
                <p>Móstoles (Madrid) - 28933</p>
                <p>España</p>
                <p class="mt-4"><strong>Phone:</strong> <span>+34 91 123 45 67</span></p>
                <p><strong>Email:</strong> <span>p.calvo.2023@aulmnos.urjc.es</span></p>
                <p><strong>Email:</strong> <span>a.hontanilla.2023@alumnos.urjc.es</span></p>
                <p><strong>Email:</strong> <span>ga.zurdo.2023@alumnos.urjc.es</span></p>
                <p><strong>Email:</strong> <span>j.sanchezva.2023@alumnos.urjc.es</span></p>
                
            </div>
        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">SCAM</strong> <span>All Rights Reserved</span></p>
        <div class="credits">
            Designed by <a href="">Grupo 18</a> | <a href="">SCAM</a>
        </div>
    </div>
</footer>
